@media print {
    * {
        visibility: hidden;
    }

    .container {
        margin-top: 0;
    }

    .printable * {
        visibility: initial;
        top: 0;
        left: 0;
        width: 100%;
    }
}